.bg-primary {
    background-color: #273035!important;
}


.text-primary{
  color: #C9CBCC!important;
}

a{
  color: #C9CBCC!important
}

.social-icons a:hover{
  background-color: #C9CBCC!important;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}
