.bg-primary {
    background-color: #273035!important;
}


.text-primary{
  color: #C9CBCC!important;
}

a{
  color: #C9CBCC!important
}

.social-icons a:hover{
  background-color: #C9CBCC!important;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

.social-icons{
    padding-top: 10px!important;
}


.subheading .mb-3 a{
    color: #343a40!important;
}

.dark-heading a{
    color: #343A40!important;
}

.dev-icons .list-inline-item i:hover {
  color: #007bff!important;
}

.fas{
font-size: 1rem;
}


.dev-icons {
    font-size: 2rem;
}
/* /////////////////////// PORTFOLIO /////////////////////// */


.container {
  width: 300px;
  position:relative;
    margin:20px;
}

.image {
  display: inline-block;
  width: 300px;
  height: 200px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #273035;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 300px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 10px;
  border: 1px solid #fff;
}

.text a:hover{
    color: #273035!important;
    background-color: white;
    text-decoration: none;
}

.text a:hover{
    color: #273035!important;
    text-decoration: none;
}


