.bg-primary {
    background-color: #273035!important;
}


.text-primary{
  color: #C9CBCC!important;
}

a{
  color: #C9CBCC!important
}

.social-icons a:hover{
  background-color: #C9CBCC!important;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

.social-icons{
    padding-top: 10px!important;
}


/* /////////////////////// PORTFOLIO /////////////////////// */


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 300px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 300px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
